---
import Layout from "../../layouts/Layout.astro";
import HomeVideo from "./components/HomeVideo/HomeVideo.astro";
import HomeSlogan from "./components/HomeSlogan/HomeSlogan.astro";
import HomeBrands from "./components/HomeBrands/HomeBrands.astro";
import HomeClub from "./components/HomeClub/HomeClub.astro";
import HomeMarquee from "../react/HomeMarquee/HomeMarquee";
import HomeUpcomingEvents from "../react/HomeUpcomingEvents/HomeUpcomingEvents";
import { HomeDjsSwiper } from "../react/HomeDjsSwiper/HomeDjsSwiper";

const lang = Astro.url.pathname.split('/')[1] ?? 'en';
---

<Layout>
  <HomeVideo/>
  <HomeSlogan/>
  <HomeMarquee client:only="react"/>

  <div class="home-content">
    <HomeUpcomingEvents client:only="react"/>
    <HomeDjsSwiper client:only="react"/>
    <HomeClub/>
    <HomeBrands/>
  </div>
</Layout>
