---
import './HomeClub.scss'
import SectionLayout from "../../../../layouts/SectionLayout.astro";
import {getTranslation} from "../../../../utils/i18n";
const lang = Astro.url.pathname.split('/')[1] ?? 'en';
---

<SectionLayout containerClass="home-club-container">
  <h2>
    {getTranslation(lang, 'home.eclipseExperience')}
  </h2>
  <p>
    {getTranslation(lang, 'home.club')}
  </p>
  <div class="img-container">
    <img
      src="https://res.cloudinary.com/dzb2wocuz/image/upload/c_crop,w_1080,h_810,x_0,y_139,ar_4:3/gogos_icasfk.jpg"
      alt="Gogos">

    <img
      src="https://res.cloudinary.com/dzb2wocuz/image/upload/c_crop,w_1080,h_810,x_0,y_282,ar_4:3/v1743635376/carnaval_vyd8ks.jpg"
      alt="Carnaval">
  </div>
</SectionLayout>
