---
import './Header.scss'
import logo from '../../assets/images/logo-slim.svg';
const lang = Astro.url.pathname.split('/')[1] ?? 'en';
import {Image} from 'astro:assets';
---

<header>
  <nav class="navbar">
    <a href={`/${lang}`}>
      <Image src={logo} alt="logo" class="logo"/>
    </a>
    <button class="hamburger"></button>
    <ul class="links-container"></ul>
  </nav>
</header>
